{* Latte template *}

{block content}
        
<button class="btn btn-theme" type="submit" onclick="hideFunction()" style="margin-top: 10px;">Přidat člověka</button>
<div id="hide">
{control peopleForm}
</div>
{control people}