{* Latte template *}

{block content}
                        
<!-- row -->
        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> Lidé</h4>
                <hr>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Jméno</th>
                    <th>Pozice</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {foreach $allPeople as $people}    
                  <tr>
                    <td>
                      {$people['id']}
                    </td>
                    
                    <td>{$people['name']}</td>
                    <td>{$people['pozition']}</td>
                    <td>{$people['phone']}</td>
                    <td>{$people['email']}</td>
                    
                    <td>
                        {if $people['active'] == 1}
                            <span class="label label-success">Aktivní</span>
                        {elseif $people['active'] == 0}
                            <span class="label label-danger label-mini">Vypnutý</span>
                        {/if}
                       
                  
                    </td>
                    <td>
                      <a href="{plink peopleForm:edit!,$people['id']}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                      <a href="{plink People:cards,$people['id']}"><button class="btn btn-primary btn-xs"><i class="fa fa-id-card"></i></button></a>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                  {/foreach}                  
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- /row -->